body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.results {
    display: grid;
    width: 100%;
    background-color: blue;
}

#app {
    display:grid;
    background-color: white;
}

.degree_symbol:not(:empty)::after {
    content: none;
}

.owm-legend-item{
    display: none;
    background-color: purple;
}
#zip {
    background-color: #5FCE88;
    width: 400px;
    height: 25px;
    padding: none;
}
#zip_display {
    background-color: cyan;
    width: 0px;
    height: 0px;
    margin: 0px;
}
input {
    color: white;
    text-align: right;
    border: none;
    margin-right: 50px;
    padding: none;
}

.detailsbox {
    display: grid;
    background-color: orange;
    width: 100%;
    height: 50px;
    margin-top:-275px;
}

.detailswords {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100px;
}

.alertbar {
    width: 100%;
    height: 35px;
}

h1 {
    font-family: gotham;
    font-size: 1em;
    color: red;
    margin-top: 25px;
    
}
.mainpage {
    display: grid;
    grid-template-columns: 64% 1% 35%;
    width: 100%;
    height: 900px;
}

.temp_container {
    display: grid;
    background-color:rgb(9, 136, 255);
    height: 900px;
}

.word_container {
    display: grid;
    background-color: orange;
    width: 500px;
    height: 900px;
    margin: auto;

}

.whiteline {
    background-color: white;
    display: grid;
    height: 900px;
}
.info_conatiner {
    display: grid;
    background-color: #5FCE88;
    height: 900px;
}

.forecastwords_container {
    display: grid;
    width: 100%;
    height: 200px;
    align-items: center;
}

.forecast_title {
    display:grid;
}

.forecastboxes_container {
    display:grid;
    width: 100%;
    height: 800px;
    align-content: center;
    
}

.boxes{
    display: grid;
    width: 100%;
    height: 700px;
    margin-left: 2%;
    align-content: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.box1 {
    display: grid;
    background: linear-gradient(#007CED,#FFFFFF);
    width: 200px;
    height: 700px;
}
.box2 {
    display: grid;
    background: linear-gradient(#007CED,#FFFFFF);
    width: 200px;
    height: 700px;
}
.box3 {
    display: grid;
    background: linear-gradient(#007CED,#FFFFFF);
    width: 200px;
    height: 700px;
}
.box4 {
    display: grid;
    background: linear-gradient(#007CED,#FFFFFF);
    width: 200px;
    height: 700px;
}
.box5 {
    display: grid;
    background: linear-gradient(#007CED,#FFFFFF);
    width: 200px;
    height: 700px;
}

h2 {
    font-family: gotham;
    font-size: 2em;
    color:rgb(9, 136, 255);

}

h3 {
    font-family: gotham;
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 150px;
    border-bottom: 5px;
    border-bottom-color: white;
}

h4 {
    font-family: gotham;
    color: white;
    font-size: 2em;
    text-align: left;
    height: 50px;
    margin-left: 30px;
    display: grid;
}

h5 {
    font-family: gotham;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 50px;
}

#map {
	width: 600px;
    height: 600px;
    background-color: yellow;
}